html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.navigation {
    background-color: #0684a0;
    list-style-type: none;
    display: inline-block;
} 
                                #Navbar should span across page not a vertical list. also make it so it stays at top of page when scrolling.

.center {
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 2%;
    background-color: #ffffff;
    colour: black;
}
.center2 {
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 2%;
    background-color: #266b7b;
    color:#fdffff;
    font-size:larger
}
tr {
    text-align: left;
    vertical-align: top;
}
td {
    padding: 1%; 
    border: 2px solid #266b7b;      
}
.table{
    margin: 2%;
    margin-bottom: 6%;
    align:center; 
    max-width: 97.5%;
    max-height:max-content;
    padding:2%;
    table-layout: fixed;
    width: 100%;
    font-size: medium;
    border: 4px solid #266b7b;
}

.mb_font {
    font-size: larger;
}

.summary{
    margin: 1%;
    padding: 2.5%;
    text-align: left;
    max-width: max-content;
    width: 80%;
    margin-bottom: 10%;
    margin-top: 5%;
    margin-left: 8%;
    border: 6px solid #02b3db;
    font-size: larger;

}
.learnstyle{
    max-width: 97%;
    max-height:max-content;
    margin: 2%;
    margin-top: 5%;
    padding: 5%;
    align:center;
    table-layout: fixed;
    font-size: large;
}
.alt-td {
    border: 4px solid #fbfdfd;
}

.alt-td2 {
    border: 2px solid #fbfdfd;
}

.big5tbl-1{
    margin: 20px;
    align:center; 
    max-width: 98%;
    padding:5%;
    table-layout: fixed;
    width: 100%;
}
.img9-10{ 
    align:top;
    height: 400px; 
    width:620px;
    margin-left: 25px;
    margin-right: 25px;
}
.big5tbl-2{
    table-layout: fixed;
    margin: 2%;
    margin-left: 10%;
    max-width: 80%;
    max-height:max-content;
    width: 80%;
    padding: 1%;
    font-size: x-large;
    background-color: #36a3bb;
    color:#91fdfd
}
h4 {
    color:#e0b012
}
.hlght{
    color:#d0ff4e
}