html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #162133;
  color: #c3c3c5;
  font-size: 1.4rem;
  font-family: 'Nunito', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 5%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav > ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

ul > li > a {
  color: #162133;
  font-style: none;
}